################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api.Erp/.vs
/Api.Erp/Api.Erp.Clientes/bin/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/staticwebassets
/Api.Erp/Api.Erp.Comercial/bin/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Clientes/obj/Api.Erp.Clientes.csproj.nuget.dgspec.json
/Api.Erp/Api.Erp.Clientes/obj/Api.Erp.Clientes.csproj.nuget.g.props
/Api.Erp/Api.Erp.Clientes/obj/Api.Erp.Clientes.csproj.nuget.g.targets
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/Api.Erp.Clientes.AssemblyInfo.cs
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/Api.Erp.Clientes.AssemblyInfoInputs.cache
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/Api.Erp.Clientes.assets.cache
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/Api.Erp.Clientes.csproj.AssemblyReference.cache
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/Api.Erp.Clientes.csproj.BuildWithSkipAnalyzers
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/Api.Erp.Clientes.csproj.CoreCompileInputs.cache
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/Api.Erp.Clientes.GeneratedMSBuildEditorConfig.editorconfig
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/Api.Erp.Clientes.genruntimeconfig.cache
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/Api.Erp.Clientes.sourcelink.json
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/apphost.exe
/Api.Erp/Api.Erp.Clientes/obj/project.assets.json
/Api.Erp/Api.Erp.Clientes/obj/project.nuget.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/staticwebassets
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Fiscal/bin/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Fiscal/obj/Debug/netcoreapp3.1/staticwebassets
/Api.Erp/Api.Erp.Fiscal/obj/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Comercial/obj
/Api.Erp/Api.Erp.Fiscal/obj/Api.Erp.Fiscal.csproj.nuget.dgspec.json
/Api.Erp/Api.Erp.Fiscal/obj/Api.Erp.Fiscal.csproj.nuget.g.props
/Api.Erp/Api.Erp.Fiscal/obj/Api.Erp.Fiscal.csproj.nuget.g.targets
/Api.Erp/Api.Erp.Fiscal/obj/project.assets.json
/Api.Erp/Api.Erp.Fiscal/obj/project.nuget.cache
/Api.Erp/Api.Erp.Shared/obj/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Shared/obj
