################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api.Erp/.vs/Api.Erp
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/staticwebassets/Api.Erp.Comercial.StaticWebAssets.Pack.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.AssemblyInfo.cs
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.AssemblyInfoInputs.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.assets.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.csproj.AssemblyReference.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.csproj.BuildWithSkipAnalyzers
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.csproj.CoreCompileInputs.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.csproj.FileListAbsolute.txt
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.dll
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.GeneratedMSBuildEditorConfig.editorconfig
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.genruntimeconfig.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.pdb
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.RazorTargetAssemblyInfo.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.sourcelink.json
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/apphost.exe
/Api.Erp/Api.Erp.Comercial/obj/Api.Erp.Comercial.csproj.nuget.dgspec.json
/Api.Erp/Api.Erp.Comercial/obj/Api.Erp.Comercial.csproj.nuget.g.props
/Api.Erp/Api.Erp.Comercial/obj/Api.Erp.Comercial.csproj.nuget.g.targets
/Api.Erp/Api.Erp.Comercial/obj/project.assets.json
/Api.Erp/Api.Erp.Comercial/obj/project.nuget.cache
/Api.Erp/Api.Erp.Clientes/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/Api.Erp/Api.Erp.Clientes/bin/Debug/netcoreapp3.1/appsettings.Development.json
/Api.Erp/Api.Erp.Clientes/bin/Debug/netcoreapp3.1/appsettings.json
/Api.Erp/Api.Erp.Comercial/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/Api.Erp/Api.Erp.Comercial/bin/Debug/netcoreapp3.1/appsettings.Development.json
/Api.Erp/Api.Erp.Comercial/bin/Debug/netcoreapp3.1/appsettings.json
/Api.Erp/Api.Erp.Shared/bin/Debug/netcoreapp3.1/Api.Erp.Shared.dll
/Api.Erp/Api.Erp.Shared/bin/Debug/netcoreapp3.1/Api.Erp.Shared.pdb
