################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api.Erp/.vs
/Api.Erp/Api.Erp.Clientes/bin/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Comercial/bin/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/staticwebassets
/Api.Erp/Api.Erp.Fiscal/obj/Debug/netcoreapp3.1/staticwebassets
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.AssemblyInfo.cs
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.AssemblyInfoInputs.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.assets.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.csproj.AssemblyReference.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.csproj.BuildWithSkipAnalyzers
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.csproj.CoreCompileInputs.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.GeneratedMSBuildEditorConfig.editorconfig
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.genruntimeconfig.cache
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/Api.Erp.Comercial.sourcelink.json
/Api.Erp/Api.Erp.Comercial/obj/Debug/netcoreapp3.1/apphost.exe
/Api.Erp/Api.Erp.Comercial/obj/project.nuget.cache
/Api.Erp/Api.Erp.Fiscal/obj/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1/staticwebassets/Api.Erp.Clientes.StaticWebAssets.Pack.cache
/Api.Erp/Api.Erp.Clientes/obj/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Clientes/obj
/Api.Erp/Api.Erp.Fiscal/bin/Debug/netcoreapp3.1
/Api.Erp/Api.Erp.Fiscal/obj
/Api.Erp/Api.Erp.Shared/obj
